.color-red{
    color: #ce0033;
}
/*header*/
.logo img{
width: 100px;
height: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color:white ;
    align-items: center;
}
.header ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}
.header a {
    text-decoration: none;
    color: #000;
}
.contact{
    border-radius: 15px;
    background-color: #ce0033;
    color: white;
    border: #ce0033;
}
/*image-main*/
.main-image img{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/26.png);
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

   }

.presentation{
    text-align: center;
    font-size: 100px;
    color: white;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 30%;
    left: 35%;   
}

/*bande*/
.bande{
    display: flex;
    width: 50%;
    height: 30%;
    margin: auto;
    gap: 50px;
    background-color: rgba(206, 0, 51, 0.7);
    position: absolute;
    top: 55%;
    color: white;
    left: 25%;
}
.trait-vertical {
    width: 3px; 
    height: 80%; 
    background-color: white; 
    margin: auto;
}
.card{
    width: 50%;
    padding: 20px;
}
.card h1{
    font-size: 40px;
}

/*la petite histoire*/
.separation{
color: #ce0033;
text-align: center;
margin-top: 10%;
font-size: 30px;
margin-bottom: 15px;

}
.cadre-ouverture{
    background-color: whitesmoke;
    width: 100%;
}
.ouverture{
    display: flex;
    gap: 80px;
    margin: auto;
    width: 800px;
    

}
.card-ouverture {
    width: 300px;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    
}
.card-ouverture h1{
    color: #ce0033;
}
.card-ouverture img{
    width: 400px;
    height: 400px;
}
/*bande 2017*/
.cole{
    background-color: #ce0033;
    width: 100px;
    font-weight: bold;
    color: white;
    border-radius: 10px 0 0 0;
    height: 40px;
    font-size: 2em;
    position: relative;
    top: -320px;
    left: 65.4%
}
/*parie pedagogie*/
.pedagogie{
    display: flex;
    gap: 40px;
    margin: 100px;
    
}
.active{
    width: 80%;
    align-items: center;
    height: 500px;
}
.active h3{
    color: #ce0033;
}
/*partie pliers*/
.cadre-pliers{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    width: 800px;
    background-color: whitesmoke;
}
.card-pliers{
   width: 300px;
   background: white;
   box-shadow: #ce0033 0px 5px;  
}

 h3{
    color: #ce0033;
    padding-left: 300px;
}
.image-pliers img{
    border-radius: 15px;
    width: 500px;
    height: 800px;
}
.pliers{ 
    display: flex;
    margin: auto;
    padding-left: 300px;
}
.card-pliers img{
    width: 50px;
    height: 50px;
}


.point{
    display: flex;
    gap: 15px;
    position: absolute;
    top: 150%;
    left: 50%;
}
.card-point{
    background-color: #ce0033;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    
}
.trait{
    width: 20px;
    height: 8px;
    background-color: #ce0033;
    border-radius: 50%;
}

















@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #fefefe;
}

.recrutement {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.recrutement h2 {
    font-size: 2.7rem;
    color: #ce0033;
    font-weight: bold;
    text-align: center;
    margin: 5rem 0rem;
}

.recrutement .recrutement-top {
    width: 90%;
    height: 35vh;
    margin: auto;
    display: flex;
    gap: 5%;
}

.recrutement-top img {
    width: 47%;
    object-fit: cover;
}

.recrutement .recrutement-top-txt {
    width: 40%;
}

.recrutement .recrutement-top-txt h3 {
    font-size: 1.5rem;
    color: #ce0033;
    margin: 20px 0px;
}

.recrutement .recrutement-top-txt p {
    font-size: 1.2rem;
    line-height: 2.2rem;
}

/* recrutement bottom offre en ccours */

.recructement-bottom {
    width: 80%;
    margin: auto;
    height: 65vh;
    display: flex;
    gap: 10%;
}

.offre-en-cours {
    background: #f9f4f4;
    flex-basis: 38%;
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
}

.offre-en-cours h3 {
    color: #ce0033;
    font-size: 1.9rem;
    padding-bottom: .6rem;
}

.offre-en-cours hr {
    border: 1px solid #ce0033;
    opacity: 0.4;
}

.offre-en-cours .formateur-referent {
    padding: 0.5rem 0px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.offre-en-cours .formateur-referent h4 {
    font-size: 1.4rem;
    margin-bottom: 2.6rem;
}

.offre-en-cours .formateur-referent span {
    color: #ce0033;
    font-size: 1.2rem;
}

.offre-en-cours .formateur-referent p {
    font-size: 1.3rem;
}

.referent-carte {
    width: 170px;
    height: 170px;
    background: #fff;
    border-radius: 1rem;
    padding: 20px;
    position: absolute;
    top: 2rem;
    right: 4rem;
}

.referent-carte ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.referent-carte li {
    font-size: 1.2rem;
}

.offre-en-cours input {
    width: 200px;
    color: #fff;
    font-size: 1rem;
    background: #ce0033;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0rem;
    align-self: center;
    cursor: pointer;
}

.ajout-formateur {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.ajout-formateur h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.ajout-formateur i {
    color: #ce0033;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.offre-en-cours a {
    align-self: flex-end;
    color: #000;
    margin-top: 1rem;
}

/* Formaulaire */

.formulaire {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.formulaire .inputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.inputs input {
    flex-basis: 48%;
    font-size: 1.5rem;
    padding: 1rem;
    outline: none;
    border-radius: 1rem;
    border: 1px solid ;
}