/*  debut de la partie valeur*/ 
.nos-valeurs{
text-align: center;
color: #CE0033;
font-size: 4rem;
}
.cont-val{padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2,50%);
    
}
.block-valeurs1{
    gap: 2rem;
}


.titre-block-valeurs1{
    color: #CE0033;
    font-size: 3rem;
}
.text-block-valeurs1{
    margin: 2rem 0;
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-block-valeurs1{
    height: 3rem;
    width: 8rem;
    border-radius: 1.5rem;
    background-color: #CE0033;
    color: white;
    font-size: 1.2rem;
    border: none;
    font-weight: bolder;
    margin: 4rem 0;
}

.blok-valeurs2{
    display:grid;
    grid-template-rows: auto;
   
}
.lot-block-valeurs2{
    display: flex;
   
    margin: 0.5rem;
    
   background-color: white;
   box-shadow: 0rem 0.1rem 1rem rgba(83, 80, 80, 0.352) ;
   padding: 0.4rem;
}
.titre-lot-block-valeurs2{
    font-size: 1.4rem;
   
}
.nbr-lot-block-valeurs2{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgb(254, 162, 162);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    color:#CE0033;
    margin: 1.5rem;
}
/*fin de de la partie valeur*/
/*la partie des chiffres*/
.nos-chiffres{
    padding: 4rem;
    text-align: center;
color: #CE0033;
font-size: 4rem;
}
.cont-chiffres{
    display: flex;
    justify-content: space-around;
    background-color: #CE0033;
    padding:3rem;
    text-align: center;
    color: white;
    
}
.nbr-chiffres{
    font-size: 2rem;
    font-weight: bold;
}
/*fin de la partie des chiffres*/
/* Debut de la partie de l'equipe */
.notre-equipe{
    padding: 2rem;
    text-align: center;
    color: #CE0033;
    font-size: 4rem;
}
.text-equipe{
    text-align: center;
    color: rgb(35, 3, 3);
    font-size: 2.1rem;
    font-weight: bold;
}

/* debut de la partie des blocks compliquer*/
.cont-Equipe{
    padding: 6rem 0rem;
    display: flex;
    justify-content: space-around;
}
.block-equipe{text-align: center;
    padding: 1rem;
    width:17rem ;
    height:25rem;
    box-shadow: 0rem 1rem 1rem rgba(2, 1, 0, 0.386);
}
.nomcomplet{
    font-size: 2rem;
    padding: 0.8rem;
}
.formateur-equipe{
    color: #CE0033;
    padding: 0.5rem;
}

.photo-coach-equipe{
    width: 10rem;
    width: 10rem;
    border-radius: 50%;
   
}
.text-formateur-equipe{
    font-family:  Arial, sans-serif;
    padding: 0.8rem;
}
.icons-equipe-one{
    width: 2rem;
    height: 2rem;
}
/*  fin de la partie équipe */













@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #fefefe;
}

.recrutement {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.recrutement h2 {
    font-size: 2.7rem;
    color: #ce0033;
    font-weight: bold;
    text-align: center;
    margin: 5rem 0rem;
}

.recrutement .recrutement-top {
    width: 90%;
    height: 35vh;
    margin: auto;
    display: flex;
    gap: 5%;
}

.recrutement-top img {
    width: 47%;
    object-fit: cover;
}

.recrutement .recrutement-top-txt {
    width: 40%;
}

.recrutement .recrutement-top-txt h3 {
    font-size: 1.5rem;
    color: #ce0033;
    margin: 20px 0px;
}

.recrutement .recrutement-top-txt p {
    font-size: 1.2rem;
    line-height: 2.2rem;
}

/* recrutement bottom offre en ccours */

.recructement-bottom {
    width: 80%;
    margin: auto;
    height: 65vh;
    display: flex;
    gap: 10%;
}

.offre-en-cours {
    background: #f9f4f4;
    flex-basis: 38%;
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
}

.offre-en-cours h3 {
    color: #ce0033;
    font-size: 1.9rem;
    padding-bottom: .6rem;
}

.offre-en-cours hr {
    border: 1px solid #ce0033;
    opacity: 0.4;
}

.offre-en-cours .formateur-referent {
    padding: 0.5rem 0px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.offre-en-cours .formateur-referent h4 {
    font-size: 1.4rem;
    margin-bottom: 2.6rem;
}

.offre-en-cours .formateur-referent span {
    color: #ce0033;
    font-size: 1.2rem;
}

.offre-en-cours .formateur-referent p {
    font-size: 1.3rem;
}

.referent-carte {
    width: 170px;
    height: 170px;
    background: #fff;
    border-radius: 1rem;
    padding: 20px;
    position: absolute;
    top: 2rem;
    right: 4rem;
}

.referent-carte ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.referent-carte li {
    font-size: 1.2rem;
}

.offre-en-cours input {
    width: 200px;
    color: #fff;
    font-size: 1rem;
    background: #ce0033;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0rem;
    align-self: center;
    cursor: pointer;
}

.ajout-formateur {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.ajout-formateur h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.ajout-formateur i {
    color: #ce0033;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.offre-en-cours a {
    align-self: flex-end;
    color: #000;
    margin-top: 1rem;
}

/* Formaulaire */

.formulaire {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.formulaire .inputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.inputs input {
    flex-basis: 48%;
    font-size: 1.5rem;
    padding: 1rem;
    outline: none;
    border-radius: 1rem;
    border: 1px solid ;
}
/*Fin de la partie de l'equipe*/
/* Debut de la partie ici la fabrique */
.cont-fabrique{
    display: flex;
    justify-content: space-around;
    margin: 5rem 0;
}
.fabrique{
    text-align: center;
    color: #CE0033;
    font-size: 4rem;
}
.photo-fabrique{
    height: 10rem;
    width: auto;
}
/* fin de la partie fabrique */
/*la partie le voyage au coeur de la fabrique */
.cont-voyage-fab{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 9rem 0;
}
.titre-voyage-fab{
    color: #CE0033;
    font-size: 3rem;
}
.text-voyage-fab{
  font-size: 1.5rem;
}


.photo-voyage-fab{
    width: 40rem;
    height: auto;
}
