.color-red{
    color: #ce0033;
}
.logo img{
width: 100px;
height: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color:white ;
    align-items: center;
    margin-right: 15px;
}
.header ul li {
    list-style-type: none;
    display: inline-block;

}
.contact{
    border-radius: 15px;
    background-color: #ce0033;
    color: white;
    border: #ce0033;
}
/*image-main*/
.main-image{
 background-image: url(images/26.png) ;
 height: 600px;
 width: 100%;
 background-size: cover;
 background-repeat: no-repeat;
 background-color: rgba(0, 0, 0, 1); 
}
.presentation{
    text-align: center;
    font-size: 100px;
    color: white;
}