@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    scroll-behavior: smooth;
}

#main {
    width: 100%;
    min-height: 100vh;
    padding: 0px 5em;
}

#main .equipe-pedago {
    width: 100%;
    height: 90vh;
}

#main .equipe-pedago h2 {
    font-size: 3rem;
    color: #ce0033;
    font-weight: 900;
    margin-bottom: 20px;
}

#main .equipe-pedago hr {
    width: 130px;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 70px;
}

#main .equipe-pedago .video {
    width: 85%;
    height: 85%;
    margin: auto;
    position: relative;
}

#main .equipe-pedago .video .video-equipe-pedago {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 5px solid #fff;
    box-shadow: 2px 0px 15px 8px lightgray;
}

.equipe-pedago .video .ettiquete {
    width: 220px;
    position: absolute;
    top: 8%;
    left: -1.5%;
}

.equipe-pedago .video .ettiquete p {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    padding: 12px 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #ce0033;
}