@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 3.5rem;
    color: #ce0033;
    font-weight: 900;
    margin-bottom: 20px;
}

body {
    scroll-behavior: smooth;
    background: #fefefe;
}

#main {
    width: 100%;
    min-height: 100vh;
    padding: 0px 5em;
}

#main .equipe-pedago {
    width: 100%;
    height: 90vh;
    margin-bottom: 150px;
}

#main hr {
    width: 130px;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 70px;
}

#main .equipe-pedago .video {
    width: 85%;
    height: 85%;
    margin: auto;
    position: relative;
}

#main .equipe-pedago .video .video-equipe-pedago {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 5px solid #fff;
    box-shadow: 2px 0px 15px 8px lightgray;
}

.equipe-pedago .video .ettiquete {
    width: 220px;
    position: absolute;
    top: 8%;
    left: -1.5%;
}

.equipe-pedago .video .ettiquete p {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    padding: 12px 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #ce0033;
}

/**** section alumni style ****/

#main .alumni {
    width: 100%;
    height: 70vh;
    display: flex;
    margin-bottom: 100px;
}

#main .alumni-gauche {
    flex-basis: 45%;
}

#main .alumni-gauche p {
    font-size: 1.6rem;
    background: #f9f8f8;
    padding: 5rem;
    line-height: 45px;
    margin-top: 150px;
}

#main .alumni-droite {
    flex-basis: 47%;
    box-shadow: 0px 5px 10px gray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

#main .alumni-droite p {
    font-size: 2rem;
    font-weight: bold;
    padding: 2.4rem;
}

#main .alumni-droite iframe {
    width: 100%;
    height: 65%;
}

#main .alumni-droite .ettiquete {
    width: 220px;
    position: absolute;
    top: 9%;
    left: -3%;
}

#main .alumni-droite .ettiquete p {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    padding: 12px 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #ce0033;
    box-shadow: 0px 5px 5px gray;
}

/* style css section les petites histoire */

.témoignages {
    width: 100%;
    padding: 50px;
    height: 90vh;
}

.témoignages .carte-temoignages {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.témoignages .carte-temoignages .carte {
    width: 490px;
    height: 520px;
    box-shadow: 0px 0px 5px lightgray;
    padding: 2.5rem;
    border-radius: 20px;
}

.carte-temoignages .carte i {
    font-size: 3.5rem;
    color: #ce0033;
    opacity: 0.3;
    padding-bottom: 5px;
}

.carte-temoignages .carte p {
    font-size: 25px;
    line-height: 2rem;
    opacity: 0.9;
    margin-bottom: 20px;
}

.carte-temoignages .carte .carte-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carte .carte-info img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.carte .carte-info .carte-txt h3 {
    font-size: 2.5rem;
    opacity: 0.7;
}